:root {
    --primery-color: #202020;
    --secondary-color: #ffffff;
    --bg-grey-color: #3C3C3C;
    --bg-white-color: #FFFEF2;
    --grey-color: #565656;
    --black-color: #000000;
}


/* 
$bp-base: 1440px;
$bp-desktop: 1200px;
$bp-tablet: 768px;
$bp-mobile: 375px;



$ui-breakpoints-xl: '1200px';
$ui-breakpoints-xl--min: '1201px';

$ui-breakpoints-lg: '992px';
$ui-breakpoints-lg--min: '993px';

$ui-breakpoints-md: '768px';
$ui-breakpoints-md--min: '769px';

$ui-breakpoints-sm: '576px';
$ui-breakpoints-sm--min: '577px'; 

$ui-breakpoints-smx: '370px';
$ui-breakpoints-smx--min: '371px'; */


* {
    box-sizing: border-box;
}

.title {
    font-family: "DynaPuff", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

.subtitle {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
}

.section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}


.container, .header__container {
    display: block;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    
    @media screen and (max-width: 1440px) {
            max-width: 1440px;
        }
    @media screen and (max-width: 1200px) {
            max-width: 1200px;
        }
    @media screen and (max-width: 992px) {
            max-width: 992px;
        }
    @media screen and (max-width: 768px) {
            max-width: 768px;
        }
    @media screen and (max-width: 576px) {
            max-width: 100%;
        }
}

a {
    text-decoration: none;
}

/* HEADER */

.header__container {
    background-image: radial-gradient(circle, rgb(249, 234, 75) 0%, rgba(255, 238, 50, 1) 0%, rgba(214, 214, 214, 1) 150%);
    max-width: 1440px;
    width: 100%;
}

.navbar {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.navbar__list {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 1200px) {
        gap: 10px;
        }

    @media screen and (max-width: 992px) {
        gap: 5px;
        font-size: 14px;
        }

    @media screen and (max-width: 768px) {
            display: none;
        }
}

.navbar ul a {
     color: var(--secondary-color);
     padding: 10px 13px;
     border: 1px solid var(--secondary-color);
     border-radius: 20px;
    
    }

.navbar__burger-menu {
    display: none;
    width: 56px;
    height: 56px;
    background-color: rgb(249, 234, 75, 0.2);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
    

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.navbar__list-favicon {
    padding-right: 12px;
}

.header__title {
    font-size: 80px;
    color: var(--secondary-color);
    max-width: 846px;
    width: 100%;
    padding-top: 491px;
    padding-bottom: 119px;

    @media screen and (max-width: 768px) {
        width: 521px;
        padding-top: 273px;
        padding-bottom: 130px;
        margin-left: 34px;
    }

    @media screen and (max-width: 375px) {
        width: 326px;
        max-height: 800px;
        padding-top: 412px;
        margin-left: 21px;
        font-size: 48px;
    }
}

.header__container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: rgb(32, 32, 32, 0);
    height: 92px;
    max-width: 1440px;
    width: 100%;
    margin-top: 48px;
    gap: 450px;

    @media screen and (max-width: 768px) {
        justify-content: space-around;
        max-width: 768px;
        width: 100%;
    }

    @media screen and (max-width: 375px) {
        max-width: 375px;
        width: 100%;
        gap: 190px;
    }
}

.header__container-wrapper:hover {
     background-color: var(--primery-color);
}

/* MAIN */

.about-me__section {
    background-color: var(--primery-color);
    background-image: url('../img/assets/about-me-img.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;

    @media screen and (max-width: 768px) {
        background-position: right -32% bottom 50%;
        background-size: 47%;
    }

    @media screen and (max-width: 375px) {
        background-position: right -80% bottom 50%;
        background-size: 60%;
    }
}

.about-me__content {
    padding: 101px 0;
    max-width: 540px;
    width: 100%;

    @media screen and (max-width: 768px) {
        padding: 72px 0;
        margin-left: 34px;
        max-height: 470px;
    }

    @media screen and (max-width: 375px) {
        width: 320px;
        max-height: 466px;
        margin-left: 16px;
    }
}

.about-me__title {
    color: #FAEB49;
    font-size: 48px;

    @media screen and (max-width: 768px) {
        max-width: 521px;
        width: 100%;
    }

    @media screen and (max-width: 375px) {
        max-width: 326px;
        width: 100%;
        font-size: 36px;
    }
}

.about-me__subtitle  {
    margin: 40px auto;
    line-height: 1.3;
    width: 100%;

    @media screen and (max-width: 375px) {
        font-size: 15px;
    }
}

.about-me__list-item {
    display: flex;
    gap: 96px;

    @media screen and (max-width: 375px) {
        gap: 42px;
    }
}

.about-me__item {
    display: flex;
    flex-direction: column;
    width: 116px;
}

.about-me__item span {
    font-family: "DynaPuff", sans-serif;
    font-size: 48px;
    font-weight: 600;
    display: block;
    padding: 10px 0;
    margin-bottom: 5px;

    @media screen and (max-width: 375px) {
            font-size: 36px;
        }
}

/* Section Project: Banking Mobile App */

.banking-mobile__section {
    background-color: var(--bg-grey-color);

    @media screen and (max-width: 768px) {
        max-width: 768px;
        max-height: 1590px;
        }

    @media screen and (max-width: 375px) {
        max-width: 375px;
    }
}

.banking-mobile__container {
    padding-top: 86px;
    padding-bottom: 30px;

        @media screen and (max-width: 768px) {
            max-width: 703px;
            padding: 52px 0;
        }

        @media screen and (max-width: 375px) {
            max-width: 343px;
            max-height: 1206px;
        }
}

.banking-mobile__card {
    background-color: var(--bg-white-color);
    border-radius: 13px;
    width: 1050;
    padding: 24px;
    margin-bottom: 63px;

    @media screen and (max-width: 375px) {
        margin-bottom: 60px;
        }
}

.banking-mobile__cards-small {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.banking-mobile__card-small {
    width: 325px;
    padding: 20px;

    @media screen and (max-width: 375px) {
        padding-bottom: 20px;  
    }
}

.banking-mobile__card-link {
    position: relative;
}

.button-arrow__main-card,
.button-arrow {
    display: block;
    position: absolute;
    background-color: var(--bg-white-color);
    z-index: 8;
    right: 31px;
    top: 31px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: none;
}

.button-arrow__main-card {
    display: none;
        @media screen and (max-width: 768px) {
            display: block;
            right: 20px;
            top: 20px;
        }
    
}

.button-arrow__small-card {
    right: 20px;
    top: 20px;

    @media screen and (max-width: 768px) {
            display: block;
            right: 10px;
            top: 10px;
        }
}

.bg-image__card-big {
    background-image: url('../img/assets/mobile-phons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
    max-width: 1010px;
    min-height: 498px;

    @media screen and (max-width: 375px) {
            background-size: contain auto;
            max-width: 311px;
            min-height: 278px;
        }

}

.bg-image__card-1 {
    background-image: url('../img/bg-image-wing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
    max-width: 285px;
    min-height: 338px;
}


.banking-mobile__card-small--one {
    @media screen and (max-width: 375px) {
            display: none;
        }
}

.banking-mobile__card-small--three {

    @media screen and (max-width: 768px) {
            display: none;
        }
}


.bg-image__card-2 {
    background-image: url('../img/bg-image-wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
    max-width: 285px;
    min-height: 338px;

        
    @media screen and (max-width: 375px) {
            background-size: contain auto;
            max-width: 319px;
            max-height: 363px;
        }

}

.bg-image__card-3 {
    background-image: url('../img/bg-image-ball.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
    max-width: 285px;
    min-height: 338px;

}

.banking-mobile__title {
    color: var(--grey-color);
    font-size: 40px;
    margin: 21px 0;

    @media screen and (max-width: 375px) {
            font-size: 32px;
        }
}

.banking-mobile__title-small {
    color: var(--grey-color);
    font-size: 23px;
    font-weight: 700;
    margin: 21px 0;

}

.banking-mobile__subtitle {
    color: var(--black-color);
    font-weight: 700;
    line-height: 1.3;
    max-width: 580px;
    width: 100%;

    @media screen and (max-width: 375px) {
            width: 311px;
            font-size: 15px;
        }
}

.banking-mobile__subtitle-small {
    color: var(--black-color);
    font-weight: 500;
    line-height: 1.3;
}

/* Section Graphics Design */

.graphics-design__section {
    background-color: var(--primery-color);
        

}


.graphics-design__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    padding-bottom: 138px;

        @media screen and (max-width: 768px) {
            max-width: 704px;
            width: 100%;
            padding-left: 32px;
            column-gap: 34px;
        }
    
        @media screen and (max-width: 375px) {
            grid-template-columns: repeat(1, 1fr);
            max-width: 343px;
            padding-left: 16px;
        
            gap: 1px;
    
        }
}

.graphics-design__card-big {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-bottom: 20px;
}

.graphics-design__title {
    color: var(--bg-white-color);
    font-size: 80px;
    padding: 82px 0 38px;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
            padding-left: 32px;
        }

    @media screen and (max-width: 375px) {
            font-size: 36px;
            padding-left: 16px;
            padding-bottom: 28px;
        }
}

.graphics-design__image-big {
    background-image: url('../img/grd-image-newspaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    max-width: 1055px;
    width: 100%;

        &::before {
            content: '';
            background-image: url('../img/assets/orange-star.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 414px;
            display: block;
        }
}

.graphics-design__image-small--one {
    background-image: url('../img/grd-image-rect.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    max-width: 514px;
    width: 100%;

        &::before {
            content: '';
            background-image: url('../img/assets/yellow-batterfly.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 414px;
            display: block;
        }
}

.graphics-design__image-small--two {
    background-image: url('../img/grd-image-graf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    max-width: 514px;
    width: 100%;
    display: block;

    &::before {
        content: '';
        background-image: url('../img/assets/blue-flower.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 414px;
        display: block;
    }
}

/*  Section About design   */


.section__banner-image {
    background-image: url('../img/gd-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    width: 100%;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

     @media screen and (max-width: 375px) {
        overflow: hidden;
        max-height: 498px;
        }
}

.about-design__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--secondary-color);

    @media screen and (max-width: 375px) {
            font-size: 24px;
            padding: 0 16px;
        }
}

.about-design__container {
    padding-top: 303px;
    padding-bottom: 323px;
    text-align: center;

    @media screen and (max-width: 768px) {
            padding-top: 274px;
            padding-bottom: 294px;
        }

    @media screen and (max-width: 375px) {
            padding-top: 180px;
            padding-bottom: 173px;
        }
    
}

